<div id="wrapper">
    <div id="sidebar-wrapper">
        <div id="sidebarView"></div>
    </div>
    <div id="page-content-wrapper">
        <header></header>
        <div id="documentView"></div>
        <footer></footer>
    </div>
</div>
