<div class="panel-group">
    <div class="container">
        <div class="row controls">
            <div>
                <button id="eraser" type="button" class="btn btn-default btn-lg">selected: {{current}}</button>
            </div>
            <div>
                <button id="eraser" type="button" class="btn btn-info btn-lg">Eraser</button>
                <button id="clear" type="button" class="btn btn-danger btn-lg">Clear</button>
            </div>
        </div>
    </div>
</div>
