h1 {
  margin-top: 0;
}

.sidebar {
  width: 20%;
  word-break: break-word;
  font-size: 16px;
  /*span:hover {*/
  /*font-size: 30px;*/
  /*}*/
}

.main-content {
  width: 80%;
  margin-left: 20%;
}

span {
  cursor: pointer;
}
