<button id="eraser" type="button" class="btn">selected:
  <span>{{current}}</span>
</button>
<button id="eraser" type="button" class="btn">Eraser</button>
<button id="clear" type="button" class="btn">Clear</button>
